/* index.css or App.css */
html, body, #root {
  height: 200vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;                 /* This pushes footer to bottom */
  padding: 0px;           /* Optional: gives content breathing room */
}