.box{
    background:#0C8CE9;
    bottom:0;
  height: 500px;
  width:100%;
  left: 0;
   position: fixed;

}
.h1{
    font-size: large;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    left: 50px;

}
