
/* Reset */

/* Container full width, flex layout */
.container {
  width: 100%; /* full width of window */
  background-color: #f2f2f2;
  padding: 10px 20px;
  display: flex;              /* flex layout */
  justify-content: space-between; /* space between logo & buttons */
  align-items: center;        /* vertically center items */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  position: fixed; /* stick to top */
  top: 0;          /* top edge of the window */
  left: 0;         /* left edge */
   
  
  box-sizing: border-box; /* include padding in width */
}

/* Buttons */
.lButton, .RButton {
  display:block;
 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.lButton {
  background-color: #007bff;
  color: white;
}

.RButton {
  background-color: #28a745;
  color: white;
}
